<launch>
  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="Xbox_joy">

    <!-- device path -->
    <param name="joystick_device_file" type="string" value="/dev/input/js0"/>

    <!-- deadzone , amount that joystick has to move before axis will output non-zero value -->
    <param name="deadzone" value="0.25" />

  </node>
  

  <node pkg="joystick_bridge" type="xbox_controller" name="xbox_teleop" />
</launch>
